.shareIcon{width:20px;height:20px;float: left;margin-right:5px;}
.shareCtrl{width:110px;float: left;}
.Weixin{background: url('../image3/6.png'); background-position: -30px -1px;}
.qq_weibo{background: url('../image3/6.png'); background-position: 124px -1px;}
.sina_weibo{background: url('../image3/6.png'); background-position: 401px -1px;}
.qq_zone{background:url('../image3/6.png'); background-position: -388px -1px;}
.kaixin001{background: url('../image3/6.png'); background-position: 316px -1px;}
.new-contentn p{line-height: 30px;color: rgb(102, 102, 102);font-size:16px;margin-top:20px;}
